# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

# SQL
data2.sql
data.sql
/sql/*.sql

# Other
models

#webpack js build file
/public/app.js
/public/app.js.LICENSE.txt

#test files
/react-src/Test
/controllers/test.ts
/views/pages/index.ejs.back