<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <br>
  <div class="container text-center bg-success">
    <p class="h1"><span class="badge">Welcome to The Secret Santa Helper</span></p>
    <a href="/" class="lang-logo">
      <img src="/santaandreindeer.gif">
    </a>
  </div>

</body>
</html>
