<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container text-center bg-dark">
    <p class="h1"><span class="badge bg-dark">Welcome to The Secret Santa Helper</span></p>
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
  </div>

</body>
</html>
